@tailwind base;
@tailwind components;
@tailwind utilities;

h1,h2,h3,span,p,li,button{
    @apply dark:text-white
}
.service-h1{
   font-family: var(--font-Poppins)
 }
body,li,a,Link{
   font-family: var(--font-Poppins)
}
body{
    @apply  dark:bg-blue-950;
}
.bg-primary{
    @apply bg-blue-600 dark:bg-blue-400
}
h1,h2,h3,span{
    font-family: var(--font-Roboto);
}
.bg-dark{
    @apply dark:bg-gray-900
}
.bg-light{
    @apply bg-blue-600
}
.bg-buttonLight{
    @apply bg-blue-500
}
.bg-buttonDark{
    @apply dark:bg-blue-900
}
.text-primaryColor{
    @apply text-blue-600 dark:text-blue-500
}

